body{
    margin: 0;
}

.top-pane{
    background-color: cadetblue;
}

.pane{
    height: 30vh;
    display: flex;
    background-color: cornsilk;
}

.editor-container{
    border-radius: 1rem;
    flex-grow: 1;
}

